.title__explore {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: white;
}

.container__explore {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("/img/bg/explore_bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.explore__section {
  width: 1922px;
  height: 2208px;
}

.video {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg/map-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 141px;
  padding-bottom: 210px;
  position: relative;
  font-family: "DM Sans", sans-serif;
}
.video .video__container {
  max-width: 1340px;
  padding: 0 30px;
  margin: 0 auto;
}

.video__body {
  display: flex;
  flex-direction: column;
}
.video__body .video__content {
  margin: 0 auto;
  max-width: 1056px;
}
.video__body .video__content .video__title {
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
}
.video__body .video__content .video__content-wrapper {
  margin-top: 68px;
  position: relative;
}
.video__body .video__content .video__content-wrapper .video-play__button {
  position: absolute;
  top: 45%;
  left: 46%;
  fill: #ffffff;
  background-color: #E93A7D;
  padding: 18px;
  width: 90px;
  height: 90px;
  border-radius: 50px;
  transition: background-color 0.3s ease, fill 0.3s ease, transform 0.3s ease;
}
.video__body .video__content .video__content-wrapper .video-play__button:hover {
  background-color: #ffffff;
  fill: #E93A7D;
  transform: scale(1.1);
}
.video__body .video__content .video__content-wrapper .video__photo {
  width: 100%;
  height: 594px;
}
.video__body .footer-video {
  margin-top: 125px;
  display: flex;
}
.video__body .footer-video .footer-video__item {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.video__body .footer-video .footer-video__item .footer-video__photo {
  width: 233px;
  height: 151px;
}
.video__body .footer-video .footer-video__item ._actives {
  margin-left: 75px;
}
.video__body .footer-video__label {
  margin-left: 41px;
  max-width: 336px;
}
.video__body .footer-video__label .footer-video__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 15px;
}
.video__body .footer-video__label .footer-video__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #ffffff;
  opacity: 70%;
}

.container__header {
  background-image: linear-gradient(215.79deg, rgba(0, 0, 0, 0.31) 29.66%, rgba(0, 0, 0, 0.29) 84.2%), url(/img/bg/main.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.logo__header {
  margin-left: 47px;
  margin-top: 28px;
}

.text--nav__header {
  color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.44px;
  font-family: "DM Sans", sans-serif;
}

.nav__header {
  display: flex;
  gap: 45px;
  align-items: center;
}

.title__header {
  margin-bottom: 52px;
  width: 627.33px;
  height: 260px;
  top: 266px;
  left: 277.14px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 120px;
  font-weight: 900;
  line-height: 130px;
  text-align: left;
  color: white;
}

.button__header {
  width: 271.14px;
  height: 82px;
  top: 547px;
  left: 277.14px;
  gap: 10px;
  border-radius: 211px;
  color: white;
  border: 0;
  opacity: 0px;
  background: rgb(221, 34, 66);
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

.text__header {
  margin-left: 277px;
}

.travel__header {
  display: flex;
  justify-content: flex-end;
  margin-top: 105px;
}

.travel__headerr {
  background: rgba(0, 0, 0, 0.544);
  display: flex;
  gap: 140px;
  padding: 0 71px;
  align-items: center;
}

.travel--text__header {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-align: left;
  color: rgb(147, 147, 147);
  margin: 0px;
}

.travel--title__header {
  font-family: "DM Sans", sans-serif;
  margin: 0px;
  font-size: 26.41px;
  font-weight: 700;
  line-height: 41.08px;
  text-align: left;
  color: white;
}

.travel--item__header {
  width: 210.11px;
  height: 120px;
  margin: 0px;
}

.travel--number__header {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 900;
  line-height: 18.75px;
  text-align: left;
  color: rgb(221, 34, 66);
  margin: 0px;
}

.second {
  position: absolute;
  width: 131px;
  height: 21.01px;
  top: 753px;
  left: 23px;
  gap: 0px;
  opacity: 0px;
}

.p__header {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.83px;
  text-align: left;
  color: white;
  transform: rotate(-90deg);
}

.titleGallery {
  display: flex;
  font-family: "DM Sans", sans-serif;
  font-size: 60px;
  font-weight: 700;
  justify-content: center;
}

.subTitleGallery {
  display: flex;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  justify-content: center;
  color: #6F7787;
}

.photo_gaps {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  height: 800px;
  gap: 30px;
}

.getting {
  max-width: 3400px;
  max-height: 1400px;
  padding-left: 520px;
  font-family: "DM Sans", sans-serif;
  background: #DCE8F2;
  color: #4a4a4a;
}

.getting_title {
  font-size: 60px;
  font-weight: bold;
  padding-top: 30px;
  color: #010A20;
}

.getting_title_content {
  font-size: 26px;
}

.getting_paraghraf_content {
  color: rgba(21, 20, 57, 0.4);
}

.timeline {
  position: relative;
  padding-left: -25px;
}

.timeline_item {
  margin-bottom: 180px;
  position: relative;
}

.timeline_circle {
  width: 58px;
  height: 58px;
  background-color: #f03a47;
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
}

.content {
  margin-left: 120px;
  max-width: 500px;
  color: #010A20;
}

.sub_content {
  display: flex;
  margin-top: 20px;
}

.sub_content_img {
  width: 250px;
  height: auto;
  margin-right: 20px;
  margin-top: 60px;
}

.getting_button {
  background-color: #f03a47;
  color: white;
  width: 210px;
  height: 64px;
  border: none;
  padding: 10px 20px;
  border-radius: 122px;
  margin-top: 20px;
}

.border {
  position: absolute;
  width: 2px;
  background-color: rgba(21, 20, 57, 0.4);
  opacity: 40%;
  left: 548px;
  transform: translateX(-50%);
  margin-top: 160px;
  height: 970px;
}

.getting_title_content_sibImg {
  margin-top: 60px;
  margin-left: 20px;
}

.getting_paraghraf_content {
  font-size: 24px;
  color: rgba(21, 20, 57, 0.4);
  width: 820px;
}

.getting_paraghraf_contentTravelling {
  font-size: 24px;
  color: rgba(21, 20, 57, 0.4);
  width: 520px;
}

.footer {
  padding: 39px 153px 31px 70px;
  background-color: #010a20;
  display: flex;
  align-items: center;
  position: relative;
  font-family: "DM Sans", sans-serif;
}
.footer .footer__logo {
  max-width: 174px;
  display: flex;
  align-items: center;
}
.footer .menu-footer {
  margin-right: 620px;
  margin-left: 124px;
}
.footer .menu-footer .menu-footer__list {
  display: flex;
}
.footer .menu-footer .menu-footer__list .menu-footer__item:not(:last-child) {
  margin-right: 36px;
}
.footer .menu-footer__link {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
}
.footer .social-footer {
  margin-right: 40px;
}
.footer .footer__copyrigh {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}
.footer .footer__button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #DD2242;
  position: absolute;
  top: 0;
  right: 150px;
  z-index: 3;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  text-decoration: none;
  color: #FFFFFF;
  transition: background-color 0.3s ease, fill 0.3s ease, transform 0.3s ease;
}
.footer .footer__button:hover {
  background-color: #FFFFFF;
  color: #DD2242;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 33.33%;
  min-height: 257px;
  width: 405px;
  height: 257px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 12px;
}

.slide:nth-child(1) {
  background-image: url("../h1.jfif");
}

.slide:nth-child(2) {
  background-image: url("../h2.jpg");
}

.slide:nth-child(3) {
  background-image: url("../h3.png");
}

.slide:nth-child(4) {
  background-image: url("../h1.jfif");
}

.slide:nth-child(5) {
  background-image: url("../h2.jpg");
}

.slide:nth-child(6) {
  background-image: url("../h3.png");
}

.slide:nth-child(7) {
  background-image: url("../h1.jfif");
}

.slide:nth-child(8) {
  background-image: url("../h2.jpg");
}

.slide:nth-child(9) {
  background-image: url("../h3.png");
}

.slide:nth-child(1),
.slide:nth-child(2),
.slide:nth-child(3),
.slide:nth-child(4),
.slide:nth-child(5),
.slide:nth-child(6),
.slide:nth-child(7),
.slide:nth-child(8),
.slide:nth-child(9) {
  background-size: contain;
  background-repeat: no-repeat;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot-container {
  text-align: center;
  padding: 20px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #85A3B2;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active-dot {
  background-color: #DD2242;
}

.container {
  width: 1274px;
}