.title__explore {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 50px;
}

.explore {
  padding: 127px 0 0 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 2207px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/img/bg/explore_bg.png');
}

.container__explore {
  min-width: 1340px;
  height: 370px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container__numbers {
  height: 794px;
  padding: 200px 0 220px 0;
  background-color: rgba(2, 12, 33, 0.884);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title__numbers {
  font-family: 'DM Sans', sans-serif;
  font-size: 60px;
  color: white;
  margin: 0;
}

.text__numbers {
  margin: 38px 0;
  width: 484px;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-align: center;
  color: white;
}

.ul__numbers {
  list-style: none;
  display: flex;
}

.li--title__numbers {
  font-family: DM Sans;
  font-size: 42.14px;
  font-weight: 700;
  line-height: 49.16px;
  letter-spacing: 0.38626033067703247px;
  text-align: center;
  color: rgba(221, 34, 66, 1);
}


.li--text__numbers {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-align: center;
  width: 340px;
  color: white;
}