.galleryContainer {

    max-width: 1340px;
    padding: 0 30px;
    margin: 0 auto;

}

.titleGallery {

    display: flex;
    font-family: "DM Sans", sans-serif;
    font-size: 60px;
    font-weight: 700;
    justify-content: center;

}

.subTitleGallery {

    display: flex;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    justify-content: center;
    color: #6F7787;

}

.photo_gaps {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    height: 800px;
    gap: 30px;


}

@media (max-width: 575px) {
    .container {
        max-width: 575px;
        
      
    }

    .titleGallery {

        display: flex;
        font-family: "DM Sans", sans-serif;
        font-size: 40px;
        font-weight: 700;
        margin-left: 30px;
        text-align: center;

    }

    .subTitleGallery {

        display: flex;
        font-family: "DM Sans", sans-serif;
        font-size: 18px;
        font-weight: 400;
        justify-content: center;
        color: #6F7787;
        margin-left: 30px;
        text-align: center;

    }

        .photo_gaps {
          flex-direction: column;
          gap: 20px; /* Збільшуємо простір між елементами */
        }
      
        .photo_gaps img {
          width: 100%;
        }
      }
