.container--slideshow__explore {
    max-width: 1000px;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.slides__explore {
    display: flex;
    transition: transform 0.5s ease-in-out;}

.slide__explore {
    min-width: 33.33%;
    min-height: 257px;
    width: 405px;
    height: 257px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 12px;
}

.slide__explore:nth-child(1) {
    background-image: url('../img/explore/1.png');

}

.slide__explore:nth-child(2) {
    background-image: url('../img/explore/2.png');
}

.slide__explore:nth-child(3) {
    background-image: url('../img/explore/3.png');
}

.slide__explore:nth-child(4) {
    background-image: url('../img/explore/1.png');
}

.slide__explore:nth-child(5) {
    background-image: url('../img/explore/2.png');
}

.slide__explore:nth-child(6) {
    background-image: url('../img/explore/3.png');
}

.slide__explore:nth-child(7) {
    background-image: url('../img/explore/1.png');
}

.slide__explore:nth-child(8) {
    background-image: url('../img/explore/2.png');
}

.slide__explore:nth-child(9) {
    background-image: url('../img/explore/3.png');
}

.slide__explore:nth-child(1),
.slide__explore:nth-child(2),
.slide__explore:nth-child(3),
.slide__explore:nth-child(4),
.slide__explore:nth-child(5),
.slide__explore:nth-child(6),
.slide__explore:nth-child(7),
.slide__explore:nth-child(8),
.slide__explore:nth-child(9) {
    background-size: contain;
    background-repeat: no-repeat;
}

.prev__explore, .next__explore {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next__explore {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev__explore:hover, .next__explore:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot-container__explore {
    text-align: center;
    padding: 20px;
}

.dot__explore {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #85A3B2;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active-dot__explore {
    background-color: #DD2242;
}

