.video {
  background-image: url('../img/bg/map-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 141px;
  padding-bottom: 210px;
  position: relative;
}